<%= form_with(url: '/search_object/search', method: "post", class: 'form-inline my-2 my-lg-0', local: true) do %>
    <%= text_field_tag(:q, nil, class: "form-control mr-sm-2", placeholder: "Search") %>
    <%= button_tag("Search", class: "btn btn-outline-info my-2 my-sm-0", name: nil) %>
<% end %>
<% if @results %>
    <% @results.each do |result| %>
        <div class="row">
            <div class="col">
                <strong><%= result.key %></strong><br />
            </div>
        </div>
    <% end %>
<% else %>
    <h4>Nothing here, chief!</h4>
<% end %>